* {
  --sb-track-color: #232e33;
  --sb-thumb-color: #609bf2;
  --sb-size: 7px;
}

*::-webkit-scrollbar {
  width: var(--sb-size);
}

*::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  // border-radius: 9px;
}

*::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  // border-radius: 9px;
}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
section {
  margin-bottom: 2dvh;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
$border-color_1: #dbdcef #0000;
$border-color_2: #287afeb0 #0000;

@keyframes spinner-e04l1k {
  100% {
    transform: rotate(1turn);
  }
}
.containerSpinner {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .spinner {
    width: 70px;
    height: 70px;
    display: grid;
    border: 4.5px solid #0000;
    border-radius: 50%;
    border-color: $border-color_1;
    animation: spinner-e04l1k 1s infinite linear;
    &::before {
      content: "";
      grid-area: 1/1;
      margin: 2.2px;
      border: inherit;
      border-radius: 50%;
      border-color: $border-color_2;
      animation: inherit;
      animation-duration: 0.5s;
      animation-direction: reverse;
    }
    &::after {
      content: "";
      grid-area: 1/1;
      margin: 2.2px;
      border: inherit;
      border-radius: 50%;
      margin: 8.9px;
    }
  }
}
.map {
  &.dark {
    filter: grayscale(30%) invert(100%) contrast(83%);
  }
}
